<div class="portifolio">
  <div class="mensagem">
    <h2 class="frase selected">Meus projetos</h2>
    <h1 class="titulo">Portifólio</h1>
    <p class="texto sub-text">
      Meu nome é <span class="selected">Fabio Eduardo Alves Conejo</span>, tenho 25 anos, nascido no interior de São
      Paulo mas morando na capital. Formado em Sistemas de Informação pela USP e, durante 6 anos, atuando no mercado de
      trabalho em
      diversas atividades no setor de tecnologia, decidi realizar uma pausa na carreira para me
      especializar em front-end (Angular).
    </p>
    <br/>
    <p class="texto sub-text">
      O computador sempre foi meu melhor parceiro, mesmo quando não estou estudando desenvolvimento, é lá que eu fico
      com os meus amigos, seja jogando algo, seja assistindo algum vídeo ou seja só conversando.
    </p>
    <br/>
    <p class="texto sub-text">
      Fique a vontade para entrar em contato comigo, seja para uma oportunidade ou mesmo um bate-papo.
    </p>
  </div>
</div>