<div class="portifolio">
  <div class="mensagem">
    <h2 class="frase selected">Meus projetos</h2>
    <h1 class="titulo">Portifólio</h1>
    <p class="texto sub-text">
      Além deste portifólio que você está navegando, desenvolvi este jogo
      multijogador chamado
      <span class="selected">Squad Task</span> que tem como objetivo concluir
      tarefas que são sorteadas para você e seus amigos. É necessário uma boa
      comunicação para progredir neste jogo.
    </p>
    <br />
    <p class="texto sub-text">
      Caso queira jogar, basta clicar no link abaixo:
      <br />
      <a href="https://squadtask.io" target="_blank">
        <span class="selected">https://squadtask.io</span>
      </a>
    </p>
  </div>
  <div class="imagem"></div>
</div>
