<div class="portifolio">
  <div class="mensagem">
    <h2 class="frase selected">Meus projetos</h2>
    <h1 class="titulo">Portifólio</h1>
    <p class="texto sub-text">
      Além deste portifólio que você está navegando, desenvolvi este jogo multijogador chamado
      <span class="selected">Task Force</span> que tem como objetivo concluir tarefas que são sorteadas para você e seus
      amigos. É necessário uma boa comunicação para progredir neste jogo.
    </p>
    <br/>
    <p class="texto sub-text">
      Caso queira jogar, basta clicar no link abaixo:
      <br/>
      <a href="https://taskforce.stackblitz.io" target="_blank">
        <span class="selected">https://taskforce.stackblitz.io</span>
      </a>
    </p>
  </div>
  <div class="imagem"></div>
</div>