<div class="skills">
  <div class="mensagem">
    <h2 class="frase selected">O que eu faço</h2>
    <h1 class="titulo">Skills</h1>
    <ul class="lista-programacao">
      <h3>Programação</h3>
      <li>
        <p class="tema">HTML, CSS, JS</p>
        <p class="nivel">Avançado</p>
        <progress value="90" max="100"></progress>
      </li>
      <li>
        <p class="tema">Angular</p>
        <p class="nivel">Intermediário</p>
        <progress value="60" max="100"></progress>
      </li>
      <li>
        <p class="tema">React JS</p>
        <p class="nivel">Básico</p>
        <progress value="15" max="100"></progress>
      </li>
    </ul>

    <ul class="lista-outros">
      <h3>Diversos</h3>
      <li>
        <p class="tema">UI/UX</p>
        <p class="nivel">Intermediário</p>
        <progress value="50" max="100"></progress>
      </li>
      <li>
        <p class="tema">Pacote Office</p>
        <p class="nivel">Avançado</p>
        <progress value="85" max="100"></progress>
      </li>
      <li>
        <p class="tema">Pacote Adobe</p>
        <p class="nivel">Básico</p>
        <progress value="30" max="100"></progress>
      </li>
      <li>
        <p class="tema">Inglês</p>
        <p class="nivel">Avançado</p>
        <progress value="75" max="100"></progress>
      </li>
    </ul>
  </div>
</div>