<div class="experiencia">
  <h2 class="frase selected">Minha carreira</h2>
  <h1 class="titulo">Experiência</h1>

  <div class="card">
    <img src="https://upload.wikimedia.org/wikipedia/commons/8/83/Logo_EACH-USP.svg" width="50%" height="40%">
    <h3>EACH - USP</h3>
    <p class="cargo">Sistemas de Informação (2014 - 2018)</p>
    <br/>
    <p class="sub-text">Curso de duração de 4 anos com matérias relacionadas às áreas de tecnologia, administração e
      exatas.</p>
  </div>

  <div class="card">
    <img src="https://camisariafascynios.vtexassets.com/assets/vtex/assets-builder/camisariafascynios.store/2.8.66/logonovo___f1e7825912dd0506fd341912bea2845e.png" width="50%" height="40%">
    <h3>Camisaria Fascynios</h3>
    <p class="cargo">Auxiliar de TI (2014 - 2016)</p>
    <br/>
    <p class="sub-text">Desenvolvimento de programas, elaboração de relatório, manutenção de equipamentos, gerenciamento
      do e-commerce.</p>
  </div>

  <div class="card">
    <img src="https://www.itau.com.br/content/dam/itau/varejo/logo-itau-varejo-desktop.png" width="50%" height="40%">
    <h3>Itaú-Unibanco</h3>
    <p class="cargo">Estagiário 6H (2016 - 2018)</p>
    <br/>
    <p class="sub-text">Desenvolvimento de software em VBA, suporte aos clientes internos
      referente à plataforma Sharepoint e gerenciamento de bases em Excel e Access.</p>
  </div>

  <div class="card">
    <img src="https://www.itau.com.br/content/dam/ibba/template/logo-ibba.svg" width="90%" height="40%">
    <h3>Itaú BBA</h3>
    <p class="cargo">Desenvolvedor VBA Júnior (2018 - 2020)</p>
    <br/>
    <p class="sub-text">Desenvolvimento de automações com foco em otmizações de processos operacionais.</p>
  </div>
</div>