/* Add application styles & imports to this file! */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  /* Cores */
  --black: #2d3142;
  --blue: #4f5d75;
  --red: #cc444b;
  --grey: #bfc0c0;
  --white: #fcfcfc;

  /* Fontes */
  --main-font: 'Open Sans', sans-serif;
  --sec-font: 'Fredoka One', cursive;
}

* {
  padding: 0;
  margin: 0;
  font-family: var(--main-font);
  color: var(--black);
  animation-name: fadein;
  animation-duration: 0.7s;
  animation-timing-function: ease-in-out;
}

html,
body {
  background-color: var(--white);
  min-width: 1280px;
  scroll-behavior: smooth;
}

p {
  font-size: 18px;
  line-height: 1.6;
}
h1 {
  font-size: 64px;
}
h2 {
  font-size: 32px;
}
h3 {
  font-size: 24px;
}

button {
  background-color: var(--black);
  color: var(--white);
  font-size: 14px;
  font-weight: 600;
  border: 1px solid var(--black);
  border-radius: 3px;
  box-shadow: 0px 0px 5px var(--black);
  padding: 16px 32px;
  cursor: pointer;
  transition: background-color 0.3s, border 0.3s, box-shadow 0.3s;
  outline: none;
}
button:hover {
  background-color: var(--red);
  border: 1px solid var(--red);
  box-shadow: 0px 0px 5px var(--red);
}

a {
  transition: color 0.4s;
}
a:link {
  color: var(--black);
}
a:hover {
  color: var(--red);
}

.selected {
  color: var(--red);
}
.sub-text {
  color: var(--blue);
}

@keyframes fadein {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
