/* Add application styles & imports to this file! */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

:root {
  /* Cores */
  --black: #2d3142;
  --blue: #4f5d75;
  --red: #cc444b;
  --grey: #bfc0c0;

  /* Fontes */
  --main-font: 'Open Sans', sans-serif;
  --sec-font: 'Fredoka One', cursive;
}

* {
  padding: 0;
  margin: 0;
  font-family: var(--main-font);
  color: var(--black);
}

html,
body {
  background-color: #fcfcfc;
  min-width: 1280px;
}

span {
  padding: 0;
  margin: 0;
}

a {
  transition: color 0.4s;
}
a:link {
  color: var(--black);
}
a:hover {
  color: var(--red);
}

.selected {
  color: var(--red);
}
.sub-text {
  color: var(--blue);
}
