.apresentacao {
  height: 100%;
  width: 50%;
}

.mensagem {
  margin-top: 20%;
  margin-left: 10%;
}

.saudacao {
  font-size: 36px;
  font-weight: 600;
}
.nome {
  font-size: 96px;
  font-weight: 800;
}
.cargo {
  font-size: 24px;
}
.mensagem {
  font-size: 18px;
}
