.saudacao {
  font-weight: 600;
}
.nome {
  font-weight: 800;
}
.cargo {
  font-weight: 600;
}

.foto {
  background-image: url('https://i.imgur.com/58MqI7Y.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .apresentacao {
    height: 50%;
    width: 100%;
  }

  .mensagem {
    margin-left: 5%;
    line-height: 64px;
  }

  .saudacao {
    font-weight: 600;
  }
  .nome {
    font-weight: 800;
  }
  .cargo {
    font-weight: 600;
  }
  .mensagem {
    font-size: 18px;
  }

  .contato {
    margin-top: 5%;
    margin-left: 5%;
  }

  .foto {
    margin-top: 2.5%;
    height: 400px;
    width: 100%;
    background-image: url('https://i.imgur.com/58MqI7Y.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .apresentacao {
    height: 100%;
    width: 50%;
    float: right;
  }

  .mensagem {
    margin-top: 20%;
    margin-left: 20%;
    line-height: 64px;
  }

  .saudacao {
    font-weight: 600;
  }
  .nome {
    font-weight: 800;
  }
  .cargo {
    font-weight: 600;
  }
  .mensagem {
    font-size: 18px;
  }

  .contato {
    margin-top: 5%;
    margin-left: 10%;
  }

  .foto {
    height: 100%;
    width: 50%;
    float: right;
    background-image: url('https://i.imgur.com/58MqI7Y.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
}
