.apresentacao {
  height: 100%;
  width: 50%;
}

.mensagem {
  margin-top: 20%;
  margin-left: 20%;
  line-height: 64px;
}

.saudacao {
  font-weight: 600;
}
.nome {
  font-size: 64px;
  font-weight: 800;
}
.cargo {
}
.mensagem {
  font-size: 18px;
}
